.hz-scroll-wrap {
    max-height: 150px;
    display: flex;
	flex-direction: column;
    overflow: hidden;
    .hz-segments-container {
        height: 100px;
        display: flex;
        flex-direction: row;
        .hz-segment-outer-wrap {
            min-width: 150px;
            max-width: 150px;
            position: relative;
            .hz-segment-wrap {
                .notActive {
                    opacity: .4;
                }
                .instruction-action {
					height: 24px;
					margin: 8px 0 4px;
					color: $discreet;
                }
                .horizontal-line {
                    display: flex;
                    .dots {
                        display: flex;
                        flex: 1;
                        .direction-dots {
                            width: 100%;
                            border-top: 6px dotted $discreet;
                            margin: 0 2px;
                        }
                        .direction-stroke {
                            width: 100%;
                            border-top: 6px solid $discreet;
                        }
                    }
                }
                .hz-segment-headline {
                    max-width: 100px;
                    transform: translate(calc(-50% + 12px), 0);
                    position: absolute;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &.headline-end {
                        transform: translate(calc(50% - 12px), 0);
                        right: 0;
                    }
                }
            }
        }
    }
}