.fit-selection-control {
    height: 40px;
    margin: 10px;
    padding: 0 16px;

    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;

    cursor: pointer;
    user-select: none;

    color: #666666;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}