.print-control {
    height: 40px;
    width: 40px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;

    cursor: pointer;
    user-select: none;

    mi-icon {
        width: 24px;
        height: 24px;
    }
}
