$input-font-size: 32px;
$input-font-weight: normal;

h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
}

.travel-icon {
    font-size: 32px;
    width: 32px;
    height: 42px;
    line-height: 42px;
    margin-right: 8px;
}

form {
    margin: 24px 0;
    position: relative;
    display: flex;
    align-items: center;

    .input {
        height: 96px;
        padding: 20px;
        font-size: $input-font-size;
        font-weight: $input-font-weight;
        outline: none;
        border: 1px solid #c8d0e0;
        border-radius: 8px;
        box-sizing: border-box;

        &.country-code {
            width: 28%;
            margin-right: 16px;
            padding-left: 38px;
        }

        &.phone-number {
            width: calc(100% - 28% - 16px);
        }

        &.focus {
            border: 1px solid #3071d9;
            box-shadow: 0px 0px 0px 2px #cfe0fc;
        }
    }

    // + sign for country code
    &::before {
        position: absolute;
        left: 20px;
        content: "+";
        font-size: $input-font-size;
        font-weight: $input-font-weight;
    }
}

.actions {
    margin-top: 24px;

    .btn {
        font-size: 24px;
        padding: 16px;

        &[disabled] {
            background-color: rgba(0, 0, 0, 0.12) !important;
        }
    }
}
