<div mat-dialog-content>
    <div class="flex-space-between">
        <div>
            <!-- Travel mode and duration -->
            <div class="flex">
                <mat-icon class="travel-icon">{{data.travelMode}}</mat-icon>
                <h2>{{data.totalTravelDuration}}</h2>
            </div>
            <!-- Destination -->
            <h2>
                <span class="text-discreet">{{ 'Direction.To' | translate }}</span>
                {{data.destination.properties.name}}
            </h2>
        </div>
        <!-- Button: Close dialog -->
        <button-round [config]="{label: 'Clear', icon: '&times;'}" (clickEvent)="closeDialog()">
        </button-round>
    </div>

    <form [formGroup]="phoneNumberForm" (ngSubmit)="sendTextMessage()">
        <!-- Country code -->
        <input #countryCode type="text" formControlName="countryCode" pattern="[0-9]{1,3}" class="input country-code"
            placeholder="{{data.phoneCountryCode}}" [ngClass]="{'focus':activeInput === 0}"
            (focus)="updateInputVariables('countryCode', countryCode.value)" />
        <!-- Phone number -->
        <input #phoneNumberInput type="text" formControlName="phoneNumber" pattern="[0-9]{6,10}"
            class="input phone-number" placeholder="{{ 'ShareDialog.EnterPhoneNumber' | translate }}"
            [ngClass]="{'focus':activeInput === 1}"
            (focus)="updateInputVariables('phoneNumber', phoneNumberInput.value)" />
    </form>

    <!-- Numeric keyboard -->
    <numeric-keyboard [activeInput]="activeInput" [activeInputValue]="activeInputValue" (value)="setValue($event)">
    </numeric-keyboard>
</div>

<div class="actions flex-h-center">
    <!-- Button: Send directions -->
    <button type="submit" (click)="sendTextMessage()" class="btn" mat-flat-button
        [style.background-color]="data.colors.accent" [style.color]="data.colors.onAccent"
        [disabled]="!phoneNumberForm.valid">
        {{ 'ShareDialog.SendDirections' | translate }}
    </button>
</div>