<div class="dialog-title">
	<h2 mat-dialog-title>{{ 'InfoDialog.Title' | translate }}</h2>
	<button mat-icon-button (click)="onClose()">
		<mat-icon aria-label="Close dialog">close</mat-icon>
	</button>
</div>
<mat-dialog-content>
	<div class="dialog-content">
		<h3>{{ 'InfoDialog.AppName' | translate }}:</h3>
		<p>{{dialogData.appTitle}}</p>
	</div>
	<div class="dialog-content">
		<h3>{{ 'InfoDialog.Supplier' | translate }}:</h3>
		<p>
			<a class="text-link" href="https://www.mapspeople.com" target="_blank" rel="noopener">MapsPeople A/S</a>
		</p>
	</div>

	<div class="dialog-content">
		<h3>{{ 'InfoDialog.SdkVersion' | translate }}:</h3>
		<p>{{dialogData.sdkVersion}}</p>
	</div>
</mat-dialog-content>