<div class="hz-scroll-wrap">
	<section id="hz-scroll" class="hz-segments-container" *ngIf="directionService.directionsLegs" style="padding: 0 48px 0; overflow: hidden;">
		<div class="hz-segment-outer-wrap" *ngFor="let leg of directionService.directionsLegs">

			<!-- Transit leg -->
			<section *ngIf="leg.transit" class="hz-segment-wrap" (click)="segmentClick(leg.index)">

				<!-- Action icon-->
				<div class="instruction-action flex-center-center" [ngClass]="{'notActive':leg.index != currentLegIndex}">
					<mat-icon>directions_transit</mat-icon>
					<div style="margin-left: 16px; font-size: 13px;">
						<span *ngIf="leg.transit.line.short_name && leg.transit.line.short_name.length > 1" style="margin-right: 8px; padding: 0px 8px; border-radius: 50px; margin-right: 5px; box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4); text-transform: capitalize;">{{leg.transit.line.short_name}}</span>
					</div>
				</div>

				<!-- Horizontal line -->
				<div class="horizontal-line">
					<!-- Blank icon -->
					<span class="segment-headline-icon flex-center-center" [ngClass]="{'notActive':leg.index != currentLegIndex && leg.index != (currentLegIndex + 1)}"></span>
					<!-- Dots or line -->
					<span class="dots flex-v-center" [ngClass]="{'notActive':leg.index != currentLegIndex}">
						<span class="direction-stroke"></span>
					</span>
				</div>

				<!-- Header start -->
				<div style="padding-top: 4px;" [ngClass]="{'notActive': (leg.index != currentLegIndex && leg.index != (currentLegIndex + 1))}">
					<p class="hz-segment-headline">{{leg.transit.departure_stop.name}}</p>
				</div>
				<!-- Header destination -->
				<div style="position: absolute; right: 0;" [ngClass]="{'notActive': (leg.index != currentLegIndex && leg.index != (currentLegIndex - 1))} ">
					<p class="hz-segment-headline">{{leg.transit.arrival_stop.name}}</p>
				</div>

			</section>

			<!-- Not transit leg -->
			<section *ngIf="!leg.transit" class="hz-segment-wrap" (click)="segmentClick(leg.index)">

				<!-- Action icon-->
				<div class="instruction-action flex-center-center" [ngClass]="{'notActive':leg.index != currentLegIndex}">
					<mat-icon *ngIf="leg.steps[0].travel_mode === 'WALKING' || leg.steps[0].parking">directions_walk</mat-icon>
					<mat-icon *ngIf="leg.steps[0].travel_mode === 'BICYCLING' && !leg.steps[0].parking">directions_bike</mat-icon>
					<mat-icon *ngIf="leg.steps[0].travel_mode === 'DRIVING' && !leg.steps[0].parking">drive_eta</mat-icon>
				</div>

				<!-- Horizontal line -->
				<div class="horizontal-line">
					<!-- Circle with icon -->
					<span [ngClass]="{'notActive':leg.index != currentLegIndex && leg.index != (currentLegIndex + 1)}">
						<span class="segment-headline-icon flex-center-center" *ngIf="leg.steps[0].instructions">
							<span [class.icon-start]="leg.steps[0].instructions.toLowerCase().indexOf('start') != -1"></span>
							<span [class.icon-enter]="leg.steps[0].instructions.toLowerCase().indexOf('enter') != -1 && !leg.steps[0].parking"></span>
							<span [class.icon-parking]="leg.steps[0].instructions.toLowerCase().indexOf('enter') != -1 && leg.steps[0].parking"></span>
							<span [class.icon-exit]="leg.steps[0].instructions.toLowerCase().indexOf('exit') != -1"></span>
							<span [class.icon-elevator]="leg.steps[0].instructions.toLowerCase().indexOf('elevator') != -1"></span>
							<span [class.icon-stairs]="leg.steps[0].instructions.toLowerCase().indexOf('stairs') != -1 || leg.steps[0].instructions.toLowerCase().indexOf('steps') != -1"></span>
							<span [class.icon-escalator]="leg.steps[0].instructions.toLowerCase().indexOf('escalator') != -1"></span>
							<!-- Destination icon for last segment can be found in "Dots or line" section -->
						</span>
						<!-- If no instruction set empty icon  -->
						<span class="segment-headline-icon flex-center-center" [style.border-color]="colors.primary" *ngIf="!leg.steps[0].instructions"></span>
					</span>

					<!-- Dots or line -->
					<span class="dots flex-v-center" [ngClass]="{'notActive':leg.index != currentLegIndex}">
						<span class="direction-dots" *ngIf="leg._mi.type != 'mapsindoors.DirectionsLeg' || leg.steps[0].abutters === 'OutsideOnVenue'"></span>
						<span class="direction-stroke" *ngIf="leg._mi.type === 'mapsindoors.DirectionsLeg' && leg.steps[0].abutters === 'InsideBuilding'"></span>
						<!-- Destination icon for last segment -->
						<span class="segment-destination-icon flex-center-center" *ngIf="leg.index == directionService.directionsLegs.length - 1" style="position: relative; right: 0;">
							<span class="icon-destination"></span>
						</span>
					</span>
				</div>

				<!-- Header -->
				<div [ngClass]="{'notActive':leg.index != currentLegIndex}">
					<p class="hz-segment-headline" *ngIf="leg.index == 0">{{directionService.startLegLabel}}</p>
					<p class="hz-segment-headline" *ngIf="leg._mi.type === 'mapsindoors.DirectionsLeg' && leg.index > 0 && !leg.steps[0].label" [innerHTML]="leg.steps[0].horizontalInstructions"></p>
					<p class="hz-segment-headline" *ngIf="leg._mi.type === 'mapsindoors.DirectionsLeg' && leg.index > 0 && leg.steps[0].label" [innerHTML]="leg.steps[0].label"></p>
				</div>

				<div *ngIf="leg.index == directionService.directionsLegs.length - 1" [ngClass]="{'notActive':leg.index != currentLegIndex}">
					<p class="hz-segment-headline headline-end">{{directionService.destinationQuery}}</p>
				</div>
			</section>

		</div>
	</section>

	<!-- Next and previous buttons -->
	<section style="padding-bottom: 16px; display: flex; justify-content: center;">
		<button mat-raised-button [disabled]="currentLegIndex == 0" (click)="prevSegment()">
			<mat-icon>keyboard_arrow_left</mat-icon>
		</button>
		<button mat-raised-button [disabled]="currentLegIndex == (directionService.directionsLegs.length - 1)" (click)="nextSegment()">
			<mat-icon>keyboard_arrow_right</mat-icon>
		</button>
	</section>
</div>