<aside id="sidebar" *ngIf="venue">
    <ng-container [ngSwitch]="isUserRolesSelectionVisible">
        <ng-container *ngSwitchCase="false">
            <section class="elevation-z2">
                <header>
                    <div class="hero" [style.background-color]="colors.primary">
                        <nav class="hero-nav">
                            <button mat-icon-button class="venue-icon" *ngIf="!filtered && venuesLength > 1"
                                (click)="goBack()">
                                <mat-icon [style.color]="colors.onPrimary" aria-label="Venues">location_city</mat-icon>
                            </button>
                            <button mat-icon-button class="venue-back-btn" *ngIf="locationsArray.length > 0 || filtered"
                                (click)="goBack()">
                                <mat-icon [style.color]="colors.onPrimary" aria-label="Back">arrow_back</mat-icon>
                            </button>
                            <button
                                mat-icon-button (click)="isUserRolesSelectionVisible = !isUserRolesSelectionVisible"
                                *ngIf="userRolesList.length > 0 || isLiveDataEnabled === true">
                                <mat-icon [style.color]="colors.onPrimary">tune</mat-icon>
                            </button>
                            <button mat-icon-button class="info-button" (click)="openInfoDialog()">
                                <mat-icon [style.fill]="colors.onPrimary" aria-label="Info">info_outline</mat-icon>
                            </button>
                            <button mat-icon-button class="sign-out-button" (click)="openSignOutDialog()" *ngIf="hasValidAccessToken">
                                <mat-icon [style.fill]="colors.onPrimary" aria-label="Sign out">logout</mat-icon>
                            </button>
                        </nav>
                        <h1 class="truncate" [style.color]="colors.onPrimary">{{ venue.venueInfo.name }}</h1>
                        <img src="{{ venue.image }}" />
                    </div>
                </header>
                <mat-toolbar [style.background-color]="colors.primary" class="search">
                    <div class="search-wrap">
                        <mat-icon [style.color]="colors.onPrimary" class="input-icon">search</mat-icon>
                        <input id="searchInput" type="text"
                            [placeholder]="search.category ? ('Search.SearchIn' | translate:{category: search.category}) : ('Search.SearchPlaces' | translate)"
                            aria-label="search.category ? ('Search.SearchIn' | translate:{category: search.category}) : ('Search.SearchPlaces' | translate)"
                            [(ngModel)]="search.query" (ngModelChange)="searchValueChanged($event)"
                            (focus)="searchInFocus(true)" (blur)="searchInFocus(false)" />
                        <button class="input-clear" mat-button *ngIf="search.query" matSuffix mat-icon-button
                            aria-label="Clear" (click)="clearQuery()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </mat-toolbar>
            </section>

            <section class="content-container">

                <!-- Loading -->
                <div class="content" *ngIf="loading">
                    <div class="content-text center">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>

                <!-- shows categories if searchQuery is empty  -->
                <section class="content"
                    *ngIf="!search.query && !search.category && !searchFocus && !locationsArray.length > 0">
                    <mat-nav-list>
                        <a mat-list-item *ngFor="let category of categoriesMenu"
                            (click)="getLocationsForCategory(category, $event)">
                            <span class="list-icon">
                                <app-image [src]="category.iconUrl"></app-image>
                            </span>
                            <span class="list-text">
                                {{ category.name }}
                            </span>
                        </a>
                    </mat-nav-list>
                </section>

                <!-- If search field is in focus and there are no locations yet-->
                <section class="content"
                    *ngIf="searchFocus && !loading && !search.category && !error && locationsArray.length < 1">
                    <div class="content-text">
                        <!-- NOTE: Search icon is added with css -->
                        <p class="search hint">{{ 'SearchHint.Hint' | translate }} {{SearchHintAppTitle}}.</p>
                    </div>
                </section>

                <!-- Error -->
                <section class="content" *ngIf="error && (search.query || search.category)">
                    <div class="hint" class="content-text text-discreet">
                        <!-- Empty category -->
                        <p *ngIf="error === 'EmptyCategory'">
                            {{ venue.venueInfo.name }} {{ 'SearchHint.EmptyCategory' | translate:search }}
                            {{appConfig.appSettings.title}}.
                        </p>
                        <!-- No results for query -->
                        <p *ngIf="error === 'NoResults'">
                            {{ 'SearchHint.NoResults' | translate:search }}.
                        </p>
                        <!-- No results for query in category -->
                        <p *ngIf="error === 'NoResultsInCategory'">
                            {{ 'SearchHint.NoResultsInCategory' | translate:search }}.
                        </p>
                    </div>
                </section>

                <!-- searchQuery results -->
                <!-- <section class="content" *ngIf="locationsArray.length > 0 && (search.query || search.category)"> -->
                <section class="content" *ngIf="locationsArray.length > 0">
                    <mat-nav-list>
                        <a mat-list-item *ngFor="let location of locationsArray" (click)="setLocation(location)">
                            <span class="list-icon">
                                <app-image [src]="getIconUrl(location)"></app-image>
                            </span>
                            <span class="list-text">
                                <span class="list-title">{{ location.properties.name }}</span>
                                <span class="list-title-sub">
                                    <span *ngIf="location.properties.externalId">{{ location.properties.externalId }}</span>
                                    <span *ngIf="location.properties.floorName">{{ 'Details.Level' | translate }} {{ location.properties.floorName }}</span>
                                    <span *ngIf="location.properties.building && venuesLength > 1">{{ location.properties.building }}</span>
                                    <span *ngIf="location.properties.building != location.properties.venue && venuesLength > 1">{{ location.properties.venue }}</span>
                                </span>
                            </span>
                        </a>
                    </mat-nav-list>

                    <!-- Load more locations button -->
                    <div class="flex-h-center" style="padding-top:8px;" *ngIf="!endOfArray">
                        <span *ngIf="loadingLocations">
                            <mat-spinner></mat-spinner>
                        </span>
                        <button mat-raised-button (click)="getMoreLocations()"
                            *ngIf="!loadingLocations && locationsArray.length >= 50">
                            {{ 'Buttons.LoadMore' | translate }}
                        </button>
                    </div>

                </section>
            </section>
        </ng-container>

        <app-user-roles *ngSwitchCase="true" [userRolesList]="userRolesList"
            (onClose)="isUserRolesSelectionVisible = false">
        </app-user-roles>
    </ng-container>
</aside>
