mat-sidenav,
mat-toolbar,
.mapsindoors.position-control,
.mapsindoors.floor-selector,
.mapsindoors.print-control,
.mapsindoors.fit-selection-control,
.gm-fullscreen-control {
    display: none !important;
}

mat-sidenav-content {
    margin: 0 !important;
}

#gmap {
    height: 100% !important;
}

#gmap div > img,
.gm-style div > img {
    position: absolute !important;
}
