.btn-round {
    width: 64px;
    height: 64px;
    padding: 4px 16px 16px;
    outline: none;
    border: none;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.87);
    white-space: nowrap;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transition: border-width 0.3s ease;

    &:hover {
        border: 1px solid #d1d1d6;
    }

    &:active {
        border: 1px solid #3071d9;
        box-shadow: 0px 0px 0px 2px #cfe0fc;
    }

    .icon {
        font-size: 40px;
        line-height: 38px;
        font-weight: 300;
        border: none;
    }

    .label {
        font-size: 14px;
        font-weight: 300;
        border: none;
    }
}
